<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <RollingFile name="file" fileName="./logs/javaJourney.log" immediateFlush="false" append="false" filePattern="./logs/javaJourney-%d{'%d{yyyy-MM-dd}.log.gz">
      <PatternLayout pattern="%5p [%t] %d{ISO8601} %F (line %L) %m%n" />
      <TimeBasedTriggeringPolicy />
    </RollingFile>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="%5p [%t] %d{ISO8601} %F (line %L) %m%n" />
    </Console>
  </Appenders>
  <Loggers>
    <AsyncLogger name="com.robmarano" level="DEBUG" />
    <AsyncRoot level="WARN">
      <AppenderRef ref="file" />
    </AsyncRoot>
  </Loggers>
</Configuration>
<!--
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <File name="MyFile" fileName="./logs/all.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console" />
            <AppenderRef ref="MyFile"/>
        </Root>
    </Loggers>
</Configuration>
-->
